page-produk {

    .card-md{
        border-radius: 10px;
    }
    
    ion-card {
        height: 300px;
        width: auto;
        text-align: center;

        .card-title {
            position: absolute;
            top: 40%;
            font-size: 2.0em;
            width: 100%;
            color: #fff;
        }
        
    }

    .card-bg1 {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs/img_rumah_dwiraka.jpg");
    }

    .card-bg2 {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs/img_rumah_klampok.jpg");
    }

    .overlay {
        height: 100%;
        background: black;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
    

    @media only screen and (max-width: 400px) {
        .card-title {
            padding: 6px;
            margin: 0;
            font-size: 24px;        
            color: #000;
         }
    }
}
