page-produk {

    ion-card {
        width: 48%;
        position: relative;
        
    }

    .container{
        display: flex;
        justify-content: flex-end;
    }

    .card-title {
       padding: 8px;
       margin: 0;
       font-size: 28px;        
       color: #000;
    }

    @media only screen and (max-width: 400px) {
        .card-title {
            padding: 6px;
            margin: 0;
            font-size: 24px;        
            color: #000;
         }
    }
}
