page-lokasi {

    .card-md{
        border-radius: 10px;
    }

    ion-card {
        height: 300px;
        width: auto;
        text-align: center;

        .card-title {
            position: absolute;
            top: 40%;
            font-size: 2.0em;
            width: 100%;
            color: #fff;
          }

    }

    .card-bg{
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/imgs/img_lokasi_dwiraka.jpg");
    }
    
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }

    .overlay {
        height: 100%;
        background: black;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
    
}
