page-detail-lokasi {
    .container{
        padding: 0px, 0px, 0px, 0px;
    }
    .text-title{
        margin-top: 24px;
        font-size: 18px;
        color: #000;
    }

    .text-content{
        height: auto;
        width: 100%;
        white-space: normal;
        margin-top: 16px;
    }

    .button{
        margin-top: 24px;
    }
}
